header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
}

header .logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 70px;
  width: 142px;
  margin-left: 20px;
}
